@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jomhuria', sans-serif;;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/backgroundCadastroLogin.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.logo img {
    width: 80px;
}

.logo p {
    color: #DAE2E7;
    font-size: 90px;
    margin-left: 10px;
    margin-top: 8px;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

 /* CAIXA DE FORMULÁRIO */
.caixa-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    width: 600px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5.8rem;
    margin-bottom: 40px;
}
.container span {
    height: 3px;
    width: 68%;
    background-color: black;
    margin-top: -30px;
    margin-bottom: 20px;
}
.campo {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.campo input {
    border-radius: 10px;
    background: #fbf9f3;
    padding: 7px;
    width: 450px;
    outline: none;
    border: none;
    font-size: 24px;

}

.campo label {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    align-self: flex-start;
}

.campo_senha {
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;

}

.campo2 {
    display: flex;
    flex-direction: column;
   
}

.campo2 input {
    padding: 3px;
    width: 210px;
    border-radius: 10px;
    background: #fbf9f3;
    outline: none;
    border: none;
    margin-left: -4px;
    margin-right: 30px;
    font-size: 30px;
    
}

.btn_cadastrar {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 400px;
    margin-top: 15px;
    padding: 7px;
    font-size: 40px;
    background-color: #E00909;
    color: white;
    text-align: center;
}

.btn_cadastrar a {
    text-decoration: none;
    color: #ffffff;
}

/* FIM DA CAIXA DE FORMULÁRIO */