/* .header {
    background-image: url(../assets/imgs/fundoFrase.png);
    background-size: cover;
} */

/* BANNER FRASE OOGWAY */

.banner_index {
    background-image: url(../assets/imgs/fundoFrase.png);
    background-size: cover;
    height: 70vh;
}

.frases_oogway {
    color: #C8F5FF;
    font-size: 64px;
    display: flex;
    align-items: center;
    height: 60vh;
    width: 45vw;
    margin-left: 90px;
}

/* BANNER CARROSSEL */

    /* CARROSSEL - PO  */
.titulo-po {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 15px;
    width: 28vw;
    height: 12vh;
    background-color: #D09D1B;
    
}

.titulo-po h2{
    font-size: 128px;
    color: rgb(243, 243, 243);
}

.banner-po {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50260E;
    border-radius: 62px;
    height: 80vh;
    width: 60vw;
    margin-left: 80px;
}

.swiper-conteudo {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    text-align: justify;
}

.continuidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-personagem {
    margin-right: -300px;
}

    /* CARROSSEL - TAI LUNG  */

.titulo-tai {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 15px;
    width: 28vw;
    height: 12vh;
    background-color: #401860;
}

.titulo-tai h2{
    font-size: 128px;
    color: white;

}

.titulo-tai span {
    color: #7D3DE5;
}

.banner-tai {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202552;
    border-radius: 62px;
    height: 80vh;
    width: 60vw;
    margin-left: 80px;
}


    /* CARROSSEL - LORD SHEN */


.titulo-shen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 15px;
    width: 28vw;
    height: 12vh;
    background-color: #695F5F;
}

.titulo-shen h2{
    font-size: 128px;
    color: white;

}

.titulo-shen span {
    color: #b11b1b;
}

.banner-shen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #750d0d;
    border-radius: 62px;
    height: 80vh;
    width: 60vw;
    margin-left: 80px;
}

.banner-shen .continuidade {
    margin-left: 40px;
}

.banner-shen img {
    margin-right: -150px;
}


   /* CARROSSEL - KAI */


.titulo-kai {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 15px;
    width: 28vw;
    height: 12vh;
    background-color: #7D4B0F;
}

.titulo-kai h2{
    font-size: 128px;
    color: #2aac16;

}

.banner-kai {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11210E;
    border-radius: 62px;
    height: 80vh;
    width: 60vw;
    margin-left: 80px;
}

.banner-kai img {
    margin-right: -150px;
}

/* BOTÃO SAIBA MAIS NO BANNER DO CARROSSEL */

.btn_idx_sb_po{
    margin-top: -70px;
    margin-left: 335px;
    width: 15vw;
    height: 9vh;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C51414;
    color: white;
}

.btn_idx_sb_tai {
    margin-top: -70px;
    margin-left: 335px;
    width: 15vw;
    height: 9vh;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #446494;
    color: white;
}

.btn_idx_sb_shen {
    margin-top: -70px;
    margin-left: 335px;
    width: 15vw;
    height: 9vh;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A5A5A5;
    color: white;
}

.btn_idx_sb_kai {
    margin-top: -70px;
    margin-left: 335px;
    width: 15vw;
    height: 9vh;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7D4B0F;
    color: white;
}


/* SINOPSE FILMES */
.div_titulo_sinopse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 70px;
    width: 40vw;
    height: 13vh;
    border-radius: 0 30px 30px 0;
    background-color: #037623;
    
}


.div_titulo_sinopse h2 {
    font-size: 100px;
    color: #f1f1f1;
    text-align: justify;
}


/* SINOPSE 1 */

.fundo_sinopse1 {
    background-color: #00354B;
    height: 140vh;
    width: 70vw;
    margin-left: 390px;
    border-radius: 70px 0 0 70px ;
}

.titulo_filme1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.title_kf {
    color: #f1f1f1;
}

.um {
    color: #0012B8;
}

.conteudo_sinopse1 {
    display: flex;
    justify-content: center;
    height: 120vh;
    margin-left: -400px;
    background-color: #050524;
}

.imagem_sinopse1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem_sinopse1 img {
    margin-left: 50px;
    margin-top: -200px
}

.imagem_sinopse1 span {
    color: #f1f1f1;
    font-size: 45px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 70px;
    margin-top: -200px;
}

.frase_final_s1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -190px;
    margin-left: -300px;
    margin-right: 20px;
}

.frase_final_s1 span {
    color: #f1f1f1;
    font-size: 45px;
    text-align: justify;
}




/* SINOPSE 2 */

.fundo_sinopse2 {
    background-color: #003D3D;
    height: 140vh;
    width: 70vw;
    margin-top: 50px;
    border-radius: 0 70px 70px 0 ;
}

.titulo_filme2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.title_kf {
    color: #f1f1f1;
}

.dois {
    color: #b80000;
}

.conteudo_sinopse2 {
    height: 120vh;
    width: 98.5vw;
    background-color: #2B0000;
}

.imagem_frasefinal {
    width: 100%;
    height: 70vh;
    display: flex;
    padding-top: 40vh;
    gap: 15px;

}

.imagem_sinopse2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    height: 100%;
    align-items: center;
}

.imagem_sinopse2 img{
    width: 60vw;
    border-radius: 0 100px 100px 0;
}

.frase_s2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 15vh;
}

.frase_s2 span {
    width: 70vw;
    height: 100%;
}

.frase_s2 span {
    margin-top: -90px;
    font-size: 45px;
    color: #f1f1f1;
}

.frase_finals2 {
    font-size: 45px;
    color: #f1f1f1;
    width: 35vw;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* SINOPSE 3 */

.fundo_sinopse3 {
    background-color: #454023;
    height: 140vh;
    width: 70vw;
    margin-top: 50px;
    border-radius: 0 70px 70px 0 ;
}

.titulo_filme3 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.title_kf3{
    color: #f1f1f1;
}

.tres {
    color: #42FF00;
}

.conteudo_sinopse3 {
    height: 120vh;
    width: 98vw;
    background-color: #003D2B;
}

.frase_s3{
    display: flex;
    justify-content: space-around;
}

.frase_s3 span {
    font-size: 45px;
    margin-top: 80px;
    width: 90vw;
    color: #f1f1f1;
    text-align: justify;
}

.container_img_sinopse3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 88vh;
    width: 100%;
}

.img_frase_s3 {
    display: flex;
    justify-content: center;
}

.img_frase_s3 img {
    margin-top: -500px;
    height: 75vh;
    width: 100vw;
    border-radius: 30px
}



