/* .header {
    background-image: url(../assets/imgs/fundoFrase.png);
    background-size: cover;
} */

/* BANNER FRASE OOGWAY */

.banner_index {
    background-image: url(../assets/imgs/fundoFrase.png);
    background-size: cover;
    height: 70vh;
}

.frases_oogway {
    color: #C8F5FF;
    font-size: 64px;
    display: flex;
    align-items: center;
    height: 60vh;
    width: 45vw;
    margin-left: 90px;
}

/* BANNER CARROSSEL */


.titulo-po {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 15px;
    width: 24vw;
    height: 12vh;
    background-color: #D09D1B;
    
}

.titulo-po h2{
    font-size: 128px;
    color: white;
}

.banner-po {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50260E;
    border-radius: 62px;
    height: 80vh;
    width: 60vw;
    margin-left: 80px;
}

.swiper-conteudo {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    text-align: justify;
}

.continuidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-personagem {
    margin-right: -300px;
}




