
/* Quiz */

.banner {
    background-image: url(../assets/imgs/img-quiz/bemvindo.png);
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
} 



.texto_quiz_bem_vindo {
    margin-top: 60px;
    font-size: 60px;
    color: white;
}

.texto_quiz_qual_vilao {
    font-size: 40px;
    color: white;
}

.btn_iniciar_quiz {
    font-size: 30px;
    border-style: none;
    border-radius: 2px;
    background-color: #A2B627;
    height: 9vh;
    width: 15vw;

}


/* QUIZ 1 */

.caixa_pergunta_q1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 30vh;
    margin-left: 55px;
    border-radius: 30px;
    background-color: #507B6E;
}


.caixa_pergunta_q1 span {
    font-size: 68px;
    color: #f1f1f1;
}

.caixa_resposta_q1 {
    margin-top: 100px;
}

.caixa_resposta_q1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


/* QUIZ 2 */

.quiz2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa_pergunta_q2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz2.png);
    background-size: cover;
    height: 100vh;
    width: 60vw;
}

.caixa_pergunta_q2 span {
    font-size: 80px;
    color: #f1f1f1;
    text-align: center;
}

.botoes_q2 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.botoes_q2 button {
    margin-right: 100px;
    width: 25vw;
    height: 20vh;
    font-size: 50px;
    border-radius: 12px;
}

.vinganca {
    background-color: #6F6017;
    color: white;
}
.destruicao {
    background-color: #301111;
    color: white;
}
.frustracao {
    background-color: #142023;
    color: white;
}
.inveja {
    background-color: #2C3D23;
    color: white;
}


/* QUIZ 3 */

.caixa_pergunta_q3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz3.png);
    background-size: cover;
    margin-left: 100px;
    margin-bottom: 30px;
    height: 70vh;
    width: 83vw;
}

.caixa_pergunta_q3 span {
    font-size: 80px;
    color: #f1f1f1;
}

.botoes_q3 ul{
    display: flex;
    justify-content: space-between;
}

.botoes_q3 button {
    width: 43vw;
    height: 23vh;
    border-radius: 15px;
    font-size: 50px;
}

.btn_primeira_q3 {
    background-color: #301111;
    color: #EFC7C4;
}

.btn_segunda_q3 {
    background-color: #2C3D23;
    color: #D7FCC6;
}

.btn_terceira_q3 {
    margin-top: 10px;
    margin-left: 360px;
    background-color: #142023;
    color: #C5CBDB;
}


/* QUIZ 4 */

.caixa_q4 {
    display: flex;
    justify-content: flex-end;
}

.caixa_pergunta_q4 {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz4.png);
    background-size: cover;
    width: 80vw;
    height: 50vh;
}

.caixa_pergunta_q4 span {
    color: #f1f1f1;
    font-size: 80px;
    margin-left: 100px;
    text-align: center;
}

.botoes_q4 {
    margin-top: 30px;
}

.botoes_q4 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.botoes_q4 button {
    width: 80vw;
    height: 13vh;
    font-size: 60px;
    color: #f1f1f1;
}

.btn_primeira_q4 {
    background-color: #6F6017;
}

.btn_segunda_q4 {
    background-color: #2C3D23;
}

.btn_terceira_q4 {
    background-color: #242409;
}

.btn_quarta_q4 {
    background-color: #301111;
}


/* QUIZ 5 */

.caixa_q5 {
    display: flex;
    justify-content: flex-start;
}

.caixa_pergunta_q5 {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz5.png);
    background-size: cover;
    width: 80vw;
    height: 50vh;
}

.caixa_pergunta_q5 span {
    color: #f1f1f1;
    font-size: 80px;
    margin-left: 100px;
    text-align: center;
}

.botoes_q5 {
    margin-top: 30px;
}

.botoes_q5 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.botoes_q5 button {
    width: 80vw;
    height: 13vh;
    font-size: 60px;
    color: #f1f1f1;
}

.btn_primeira_q5 {
    background-color: #2C3D23;
}

.btn_segunda_q5 {
    background-color: #142023;
}

.btn_terceira_q5 {
    background-color: #27052B;
}



/* QUIZ 6 */

.caixa_q6 {
    display: flex;
    justify-content: center;
}

.caixa_pergunta_q6 {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz6.png);
    background-size: cover;
    width: 80vw;
    height: 50vh;
}

.caixa_pergunta_q6 span {
    color: #f1f1f1;
    font-size: 80px;
    margin-left: 100px;
    text-align: center;
}

.botoes_q6 {
    margin-top: 30px;
}

.botoes_q6 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.botoes_q6 button {
    width: 80vw;
    height: 13vh;
    font-size: 60px;
    color: #f1f1f1;
}

.btn_primeira_q6 {
    background-color: #2C2D00;
}

.btn_segunda_q6 {
    background-color: #142023;
}

.btn_terceira_q6 {
    background-color: #301111;
}