
/* Quiz */

.banner {
    /* background-image: url(../assets/imgs/img-quiz/bemvindo.png); */  
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

} 



.texto_quiz_bem_vindo {
    margin-top: 60px;
    font-size: 60px;
    color: white;
}

.texto_quiz_qual_vilao {
    font-size: 40px;
    color: white;
}

.btn_iniciar_quiz {
    font-size: 30px;
    border-style: none;
    border-radius: 2px;
    background-color: #A2B627;
    height: 9vh;
    width: 15vw;
    cursor: pointer;
}

.btn_iniciar_quiz:hover {
    transform: scale(110%);
}


/* QUIZ 1 */

.quiz1, .quiz2, .quiz3, .quiz4, .quiz5, .quiz6 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quiz1 img {
    cursor: pointer;
}

.quiz1 img:hover {
    transform: scale(110%);
}

.caixa_pergunta_q1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 30vh;
    border-radius: 5px;
    background-color: #507B6E;
}


.caixa_pergunta_q1 span {
    font-size: 68px;
    color: #f1f1f1;
}

.caixa_resposta_q1 {
    margin-top: 100px;
}

.caixa_resposta_q1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


/* QUIZ 2 */

.quiz2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.caixa_pergunta_q2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz2.png);
    background-size: cover;
    border-radius: 5px;
    height: 50vh;
    width: 60vw;
}

.caixa_pergunta_q2 span {
    font-size: 80px;
    color: #f1f1f1;
    text-align: center;
}

.botoes_q2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botoes_q2 button {
    margin-right: 100px;
    width: 15vw;
    height: 10vh;
    font-size: 50px;
    border-radius: 5px;
}

.botoes_q2 button:hover {
    cursor: pointer;
    transform: scale(110%);
}

.ganancia {
    background-color: #6F6017;
    color: white;
}
.raiva {
    background-color: #301111;
    color: white;
}
.frustracao {
    background-color: #142023;
    color: white;
}
.inveja {
    background-color: #2C3D23;
    color: white;
}


/* QUIZ 3 */

.quiz3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixa_pergunta_q3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz3.png);
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 30px;
    height: 50vh;
    width: 60vw;
}

.caixa_pergunta_q3 span {
    font-size: 80px;
    color: #f1f1f1;
    text-align: center;
}

.botoes_q3 ul{
    display: flex;
    gap: 20px;
}

.botoes_q3 button {
    width: 30vw;
    height: 20vh;
    border-radius: 15px;
    font-size: 40px;
}

.botoes_q3 button:hover {
    cursor: pointer;
    transform: scale(110%);
}

.btn_primeira_q3 {
    background-color: #301111;
    color: #EFC7C4;
}

.btn_segunda_q3 {
    background-color: #2C3D23;
    color: #D7FCC6;
}

.btn_terceira_q3 {
    background-color: #142023;
    color: #C5CBDB;
}


/* QUIZ 4 */

.caixa_q4 {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.caixa_pergunta_q4 {
    display: flex;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz4.png);
    background-size: cover;
    width: 80vw;
    height: 50vh;
    border-radius: 5px;
}

.caixa_pergunta_q4 span {
    color: #f1f1f1;
    font-size: 80px;
    margin-left: 100px;
    text-align: center;
}

.botoes_q4 {
    margin-top: 30px;
}

.botoes_q4 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.botoes_q4 button {
    width: 80vw;
    height: 13vh;
    font-size: 60px;
    color: #f1f1f1;
    border-radius: 15px;

}

.botoes_q4 button:hover {
    cursor: pointer;
    transform: scale(110%);
}

.btn_primeira_q4 {
    background-color: #6F6017;
}

.btn_segunda_q4 {
    background-color: #2C3D23;
}

.btn_terceira_q4 {
    background-color: #242409;
}

.btn_quarta_q4 {
    background-color: #301111;
}


/* QUIZ 5 */

.caixa_q5 {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.caixa_pergunta_q5 {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz5.png);
    background-size: cover;
    border-radius: 15px;
    width: 80vw;
    height: 40vh;
}

.caixa_pergunta_q5 span {
    color: #f1f1f1;
    font-size: 80px;
    margin-left: 100px;
    text-align: center;
}

.botoes_q5 {
    margin-top: 30px;
}

.botoes_q5 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.botoes_q5 button {
    width: 80vw;
    height: 13vh;
    font-size: 60px;
    color: #f1f1f1;
}

.botoes_q5 button:hover {
    cursor: pointer;
    transform: scale(110%);
}

.btn_primeira_q5 {
    background-color: #2C3D23;
    border-radius: 15px;

}

.btn_segunda_q5 {
    background-color: #142023;
    border-radius: 15px;

}

.btn_terceira_q5 {
    background-color: #27052B;
    border-radius: 15px;

}



/* QUIZ 6 */

.caixa_q6 {
    display: flex;
    justify-content: center;
}

.caixa_pergunta_q6 {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    background-image: url(../assets/imgs/img-quiz/banner_quiz6.png);
    background-size: cover;
    border-radius: 15px;
    width: 80vw;
    height: 50vh;
    margin-top: 100px;
}

.caixa_pergunta_q6 span {
    color: #f1f1f1;
    font-size: 80px;
    margin-left: 100px;
    text-align: center;
}

.botoes_q6 {
    margin-top: 30px;
}

.botoes_q6 button:hover {
    cursor: pointer;
    transform: scale(110%);
}

.botoes_q6 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.botoes_q6 button {
    width: 80vw;
    height: 13vh;
    font-size: 60px;
    color: #f1f1f1;
}

.btn_primeira_q6 {
    background-color: #2C2D00;
    border-radius: 15px;

}

.btn_segunda_q6 {
    background-color: #142023;
    border-radius: 15px;

}

.btn_terceira_q6 {
    background-color: #301111;
    border-radius: 15px;

}


/* RESULTADO - TAI LUNG */

.resultado_quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.resultado_quiz_tai {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin-top: 800px;
}

.fundo_quiz_tai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #0B1225;
    border-radius: 10px;
    width: 70%;
    height: 100vh;
    margin-top: 80px;
}

.nome_resultado h2 {
    font-size: 60px;
    color: #f1f1f1;
}

.imagem_resultado {
    display: flex;
    justify-content: center;
}

.imagem_resultado img{
    width: 50vw;
    border-radius: 10px;
}

.descricao_resultado {
    margin-top: 2em;
    width: 80%;
}

.descricao_resultado span {
    text-align: justify;
    font-size: 30px;
    color: #f1f1f1;
}


/* RESULTADO - MÉTRICAS */

.metrica {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90vw;

}

.metrica_resultado_escolha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_metrica_resultadoquiz {
    font-size: 30px;
    color: #f1f1f1;
}

.metrica_tai img {
    height: 20vh;
}

.metrica_shen img{
    height: 20vh;
}

.metrica_kai img {
    height: 20vh;
}

.metrica_tai span {
    position: absolute;
    color: #f1f1f1;
    font-size: 20px;
}

.metrica_shen span{
    position: absolute;
    color: #f1f1f1;
    font-size: 20px;

}

.metrica_kai span {
    position: absolute;
    color: #f1f1f1;
    font-size: 20px;

}

