
/* BANNER GERAL */

.banner_sb {
    position: relative;
    top: 0;

}

/* ICON POO + TEXT${POO} */

.iconPoo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.iconPoo img {
    height: 30vh;
}

.iconPoo span {
    margin-left: 30px;
    color: #D09D1B;
    font-size: 100px;
}




/* BANNER CENTRAL POO*/

.container_dw_poo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../assets/imgs/sbPoo.jpg);
    z-index: 4;
}

.banner_po_sb.zindex_sb {
    opacity: 0;
    z-index: 5;
}

.frase_dw_poo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: justify;
    width: 85%;
}

.frase_dw_poo span {
    margin-left: 60px;
    margin-right: 50px;
}

.frase_dw_poo img {
    height: 65vh;
    margin-right: -80px;
}







/* BANNER SECUNDARIO POO*/

.container_poo_avancando {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
}

.frase_poo_avancando {
    color: white;
    font-size: 30px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}








/* BANNER CENTRAL - TAI LUNG */

.fundo_tai {
    background-color: #0B1225;
    height: 100vh;
}

.container_tailung_sb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../assets/imgs/sbTailung_background.jpg);
    z-index: 4;
    transition: 1s ease-in-out;
}

.banner_tailung_sb.zindex_sb {
    opacity: 0;
    z-index: 5;
}

.iconTai {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}






/* Footer - Saiba Mais dos outros Personagens */

.container_saiba_mais ul {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw
}

.container_botao_sb ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_botao_sb button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 15vw;
    height: 9vh;
    border-radius: 6px;
    font-size: 40px;
}

.btn_kai_sb {
    background-color: #7D4B0F;
}

.btn_shen_sb {
    background-color: #A5A5A5;
}

.btn_tai_sb {
    background-color: #446494;
}