
/* BANNER CENTRAL POO*/

.banner_po_sb {
    position: absolute;
    z-index: 5;
}

.banner_po_sb.zindex_sb {
    opacity: 0;
    z-index: 5;
}

.iconPoo {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.iconPoo span {
    color: #D09D1B;
    font-size: 100px;
}

.container_dw_poo {
    background-size: cover;
    background-image: url(../assets/imgs/sbPoo.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase_dw_poo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: justify;
    width: 80%;
}

.frase_dw_poo span {
    margin-left: -30px;
    margin-right: 50px;
}

.frase_dw_poo img {
    height: 65vh;
    margin-right: -80px;
}


/* BANNER SECUNDARIO POO*/

.container_poo_avancando {
    display: flex;
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
}

.frase_poo_avancando {
    color: white;
    font-size: 30px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}




/* BANNER CENTRAL - TAI LUNG */

.fundotai {
    height: 180vh;
    width: 100%;
    background-color: #253257 ;
}

/* Footer - Saiba Mais dos outros Personagens */
.footer {
    z-index: 5;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
}

.container_saiba_mais ul {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw
}

.container_botao_sb ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_botao_sb button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 15vw;
    height: 9vh;
    border-radius: 6px;
    font-size: 40px;
}

.btn_kai_sb {
    background-color: #7D4B0F;
}

.btn_shen_sb {
    background-color: #A5A5A5;
}

.btn_tai_sb {
    background-color: #446494;
}