@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

body {
    background-color: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jomhuria', sans-serif;;
}


/*  HEADER  */
.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #0a0807;
    width: 100%;
    height: 10vh;
    padding-left: 50px;
    padding-right: 50px;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 4vw;
    height: 4vw;
}

.logo p {
    color: #DAE2E7;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navbar{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 30px;

}

.navbar ul {
    display: flex;
}

a {
    text-decoration: none;
    color: #DAE2E7;
    display: flex;
}

/*  FIM DO HEADER  */



/* BANNER INICIO */


.sobrecriador {
    position: relative;
    top: 0;
}

    /* Quem é Wilson? */

.banner1  {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 4;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/backgroundSobreCriador1.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}
.banner1.zindex {
    opacity: 1;
    z-index: 5;
}

.topico {
    color: #e3a507;
    font-size: 60px;
    display: flex;
    justify-content: center;

}

.frase {
    display: flex;
    justify-content: center;
    color: #F1F1F1;
    font-size: 30px;
    display: flex;
    text-align: center;
    width: 80vw;
}

    /*Relação Wilson e Tema escolhido */

.banner2 {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 4;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/backgroundSobreCriador2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.banner2.zindex{
    opacity: 1;
    z-index: 5;
}






/* BOTOES */

.container_botao {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 90vh;
    padding: 120px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 6;
    position: absolute;
    top: 490px;
    gap: 80px;
    left: 300px;
}


.btn {
    text-decoration: none;
    color: black;
    background-color: #7B4141;
    font-weight: bold;
    padding: 6px;
    font-size: 2.0rem;
    width: 200px;
    border: 0cm;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(107%);
}
